<div class="g-container">
    <div class="g-grid">
        <div class="g-block size-15">
            <div class="g-content g-particle">
                <a href="https://www.etsi.org/" title="" class="g-logo g-logo-helium">
                    <img src="https://forge.etsi.org/files/ETSI-Logo_BW_S_Office1.png" alt="" />
                </a>
            </div>
        </div>
        <div class="g-block size-20">
            <div class="g-content g-particle">© ETSI 2019<br /><a style="font-size:10pt; color:white" href="https://www.etsi.org/">Visit ETSI website for more information on Terms & Conditions.</a></div>
        </div>
        <div class="g-block g-horizontalmenu size-40">
            <div class="g-content g-particle">
                <nav class="g-main-nav" role="navigation" data-g-hover-expand="true">
                    <ul class="g-toplevel">
                        <li class="g-menu-item g-menu-item-type-component g-menu-item-245 g-standard  ">
                            <a class="g-menu-item-container" href="index.php/legal-matters">
                                <span class="g-menu-item-content">
                                    <span class="g-menu-item-title">Legal matters</span>
                                </span>
                            </a>
                        </li>
                        <li class="g-menu-item g-menu-item-type-url g-menu-item-247 g-standard  ">
                            <a class="g-menu-item-container" href="mailto:cti_support@etsi.org?subject=[SAREF]">
                                <span class="g-menu-item-content">
                                    <span class="g-menu-item-title">Contact &amp; Support</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="g-block size-25">
            <div class="g-content g-particle">
                <div class="">
                    <div class="g-totop">
                        <a href="#" id="g-totop" rel="nofollow">Back to top <i class="fa fa-chevron-up fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>