<div class="g-container">
    <div class="g-block size-100">
        <div class="g-content g-particle">
            <h1>
                <a id="user-content-smart-applications-reference-ontology-and-extensions" class="anchor" href="#smart-applications-reference-ontology-and-extensions" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Smart Applications REFerence Ontology, and extensions</h1>
            <p><strong>Official ETSI portal for SAREF</strong><br>This page contains pointers to the SAREF ontologies and SAREF-related work items</p>
            <p><em><strong>Note:</strong> This portal is under construction. It was drafted in the context of <a href="https://portal.etsi.org//STF/STFs/STFHomePages/STF556" rel="nofollow">ETSI Specialist Task Force 556</a>. More effort is required to automatize the portal content generation and deployment workflow.</em></p>
        </div>
    </div>
</div>