body {
    counter-reset: section;
}

h2 {
    counter-reset: subsection
}

h2:before {
    counter-increment: section;
    content: counter(section) ". ";
}

h3:before {
    counter-increment: subsection;
    content: counter(section) "."counter(subsection) ". ";
}


@media aural {

    h1,
    h2,
    h3 {
        stress: 20;
        richness: 90
    }

    .hide {
        speak: none
    }

    p.copyright {
        volume: x-soft;
        speech-rate: x-fast
    }

    dt {
        pause-before: 20%
    }

    pre {
        speak-punctuation: code
    }
}